.descripcion-index{
    font-family:Verdana;
    font-size:16px;
}
.cartas-index{
    border:0px solid;
    border-radius: 4px;
    background-color: #252457;
}
.titulo-cartas-index{
    color:#fff;
    font-weight: bold;
    font-size: 16px;
}
.descripcion-cartas-index{
    color:white
}
.cartas-marcas{
    border: 1px solid;
    border-radius: 3px;
}
.marco{
    border: 1px solid #bfbfbf ;
    margin: 1px;
    margin-top: 4px;
    margin-bottom: 4px;
}